<app-a></app-a>
<hr>
<div class="row row-cols-1 row-cols-md-3 g-4">
<app-product [id]="101" [name]="'Laptop'" [imageLink]="'https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png'"
    [price]="45000"></app-product>
<app-product [id]="102" [name]="'Mobile'"
    [imageLink]="'https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_t.png'"
    [price]="35000"></app-product>
<app-product [id]="103" [name]="'Tablet'" [imageLink]="'https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_t.png'"
    [price]="38000"></app-product>
    </div>