<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      formControlName="email">
    <div *ngIf="form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty)">

      <div id="emailHelp" class="form-text text-danger" *ngIf="form.get('email')?.hasError('required')">Email is
        required</div>
      <div id="emailHelp" class="form-text text-danger" *ngIf="form.get('email')?.hasError('email')">Invalid email
        address</div>

    </div>

  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
    <div *ngIf="form.get('password')?.invalid && (form.get('password')?.touched || form.get('password')?.dirty)">

      <div id="emailHelp" class="form-text text-danger" *ngIf="form.get('password')?.hasError('required')">password is
        required</div>

      <div id="emailHelp" class="form-text text-danger" *ngIf="form.get('password')?.hasError('minlength')">Minimum 6
        characters are required</div>

        <div id="emailHelp" class="form-text text-danger" *ngIf="form.get('password')?.hasError('commonPassword')">commonly used password</div>

    </div>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<button class="btn btn-primary m-3" (click)="setValues()">Set Value</button>